rules_version = '2';
// DEV and PROD open rules for Play Cartaz IA
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
